@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap%27");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

h1,
h2,
h3,
p {
  margin: 0;
}

body {
  background-color: #202b3a;
  color: #fff;
  font-family: "Quicksand", sans-serif;
}
body main .container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 12px 12px 24px 12px;
}
body main .card-balance {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
body main .card-balance .custom-card-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
body main .card-balance .custom-card-container .custom-card-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body main .card-balance .custom-card-container .custom-card-title h2 {
  font-weight: bold;
  text-transform: capitalize;
}
body main .card-balance .custom-card-container .custom-card-title .span-title {
  border-radius: 16px;
  padding: 6px 12px;
  background-color: #4a7686;
}
body main .card-balance .custom-card-container .custom-card-title .span-title span {
  font-weight: bold;
}
body main .card-balance .custom-card-container .custom-card .custom-card-plan.platinum {
  color: #fff;
  background: linear-gradient(0.79deg, #295869 1.78%, rgba(255, 255, 255, 0) 99.35%);
}
body main .card-balance .custom-card-container .custom-card .custom-card-plan.platinum .custom-card-number {
  color: #fff;
}
body main .card-balance .custom-card-container .custom-card .custom-card-plan.platinum .custom-card-name span:nth-child(2n) {
  color: #fff;
}
body main .card-balance .custom-card-container .custom-card .custom-card-plan.platinum .custom-card-footer .custom-card-expiration span:nth-child(2n) {
  color: #fff;
}
body main .card-balance .custom-card-container .custom-card .custom-card-plan {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #fff;
  background: linear-gradient(0.79deg, #f8f8f8 1.78%, rgba(255, 255, 255, 0) 99.35%, rgba(255, 255, 255, 0) 99.35%);
}
body main .card-balance .custom-card-container .custom-card .custom-card-plan .custom-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body main .card-balance .custom-card-container .custom-card .custom-card-plan .custom-card-number {
  padding: 4px 0;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
  color: #000000;
}
body main .card-balance .custom-card-container .custom-card .custom-card-plan .custom-card-name {
  display: flex;
  flex-direction: column;
  color: #000000;
}
body main .card-balance .custom-card-container .custom-card .custom-card-plan .custom-card-name span:nth-child(1n) {
  font-size: 0.8rem;
  font-weight: 700;
}
body main .card-balance .custom-card-container .custom-card .custom-card-plan .custom-card-name span:nth-child(2n) {
  font-size: 1rem;
  font-weight: 500;
}
body main .card-balance .custom-card-container .custom-card .custom-card-plan .custom-card-footer {
  display: flex;
  justify-content: space-between;
  color: #000000;
}
body main .card-balance .custom-card-container .custom-card .custom-card-plan .custom-card-footer img {
  width: 30px;
}
body main .card-balance .custom-card-container .custom-card .custom-card-plan .custom-card-footer .custom-card-expiration {
  display: flex;
  flex-direction: column;
}
body main .card-balance .custom-card-container .custom-card .custom-card-plan .custom-card-footer .custom-card-expiration span:nth-child(1n) {
  font-size: 0.8rem;
  font-weight: 700;
}
body main .card-balance .custom-card-container .custom-card .custom-card-plan .custom-card-footer .custom-card-expiration span:nth-child(2n) {
  font-size: 1rem;
  font-weight: 500;
}
body main .card-balance .balance h2 {
  font-weight: bold;
  text-transform: capitalize;
}
body main .card-balance .balance-container {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
  border-radius: 16px;
  padding: 16px;
  gap: 12px;
  background: linear-gradient(0deg, rgba(250, 251, 252, 0.1), rgba(250, 251, 252, 0.1)), linear-gradient(90deg, rgba(240, 240, 240, 0.2) 0%, rgba(240, 240, 240, 0) 100%);
}
body main .card-balance .balance-container .balance-header {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
body main .card-balance .balance-container .balance-header .balance-line {
  width: 1rem;
  height: 2px;
  border-radius: 5px;
  background: linear-gradient(77.34deg, #36d9ff 6.16%, #4a00c5 94.12%);
}
body main .card-balance .balance-container strong {
  font-weight: bold;
}
body main .transactions {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
body main .transactions .transaction-title {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
body main .transactions .transaction-title h2 {
  font-weight: bold;
  text-transform: capitalize;
}
body main .transactions .transaction-title .line {
  height: 1px;
  width: 100%;
  background-color: #798ba3;
}
body main .transactions .date span {
  font-weight: 500;
}
body main .transactions .transaction-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
body main .transactions .transaction-container .transaction {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.5px solid #798ba3;
  padding-bottom: 18px;
}
body main .transactions .transaction-container .transaction .info {
  display: flex;
  gap: 8px;
}
body main .transactions .transaction-container .transaction .info .icon {
  display: flex;
  align-items: center;
  border-radius: 8px;
  padding: 4px;
  background-color: #295869;
}
body main .transactions .transaction-container .transaction .info .transaction-title-info .header-info {
  display: flex;
  gap: 12px;
}
body main .transactions .transaction-container .transaction .info .transaction-title-info .header-info strong {
  font-size: 1rem;
}
body main .transactions .transaction-container .transaction .info .transaction-title-info .header-info .transaction-details-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  padding: 2px 4px;
  background-color: #295869;
}
body main .transactions .transaction-container .transaction .info .transaction-title-info p {
  font-size: 0.625rem;
  font-weight: 300;
}
body main .transactions .transaction-container .transaction .value {
  display: flex;
  align-items: center;
}
body main .transactions .transaction-container .transaction .value span {
  display: flex;
  gap: 12px;
}
body main .transactions .transaction-container .transaction .value span .spent {
  color: #ac4b51;
}
body main .transactions .transaction-container .transaction .value span .income {
  color: #4bac72;
}

header {
  padding: 1rem;
}
header .custom-btn {
  background: rgba(74, 118, 134, 0.3);
  border-radius: 4px;
  border: none;
}
header .custom-btn:hover {
  background-color: rgba(74, 118, 134, 0.8);
}
header .offcanvas {
  background-color: #0e131f;
  color: #fff;
}
header .offcanvas .offcanvas-header .btn-close {
  background-color: #fff;
}
header .offcanvas .offcanvas-body .offcanvas-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}
header .offcanvas .offcanvas-body .offcanvas-container .offcanvas-links nav {
  color: #fff;
}
header .offcanvas .offcanvas-body .offcanvas-container .offcanvas-links nav ul {
  padding: 0;
  margin: 0;
}
header .offcanvas .offcanvas-body .offcanvas-container .offcanvas-links nav ul li a {
  text-decoration: none;
}
header .offcanvas .offcanvas-body .offcanvas-container .offcanvas-links nav ul li .active {
  color: white;
}
header .offcanvas .offcanvas-body .offcanvas-container .offcanvas-links nav ul li .disabled-link {
  color: rgba(255, 255, 255, 0.3);
}

/*# sourceMappingURL=style.css.map */
